*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}
body{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      background-color: rgb(117, 98, 241);
}
.container{
      width: 800px;
      height: 400px;
      background-color: aliceblue;
      position: absolute;
      bottom: 60px;
      left: 300px;
      box-shadow: 10px 10px 80px 2px  rgb(128, 112, 112);
      border-radius: 20px 40px;
      z-index: 0;
}
.card{
      width: 300px;
      height: 450px;
      position:absolute;
      z-index: 1;
      bottom: 20px;
      left: 450px;
      border-radius: 20px 40px;
      background-color: rgb(255, 255, 255);
      box-shadow: 5px 5px 20px 1px  rgb(104, 102, 102);
      text-align: center;
}
.card img{
      width: 250px;
      height: 250px;
}
.contact{
      text-align: right;
}
.contact p{
      display: inline-block;
}
.contact i{
      font-size:30px;
      padding: 8px 10px;
      text-align: right;
}
.bio{
      width: 400px;
      height: 400px;
      padding: 30px;
      position: absolute;
      left: 20px;
      text-align: justify;

}